# Example environment variables
# Copy this file to .env and fill with your own values

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# App
PORT=8000
NODE_DEV="development"

# Documentation link
DOCUMENTATION="https://github.com/fento2/indonesia-region-api/tree/main#api-reference"
